@import url(https://fonts.google.com/specimen/Roboto);
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p,
small {
  color: rgb(97, 97, 101);
  font-family: "Times New Roman", Times, serif;
}
a {
  color: rgb(0, 128, 128);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
button {
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: 700;
}
.display-text {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  line-height: 2rem;
}
#page-header {
  background-color: rgb(128, 0, 0);
}

#hero {
  background-image: url(/Brunner-csci181-practice/assets/Hero.jpg);
  background-size: cover;
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  text-align: center;
}
section {
  padding: 0.5rem;
  border: 1px solid;
  margin: 1rem auto;
  width: 100%;
}
ul {
  list-style: none;
}
