@import url(https://fonts.google.com/specimen/Roboto);
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-weight: bolder;
}
p,
small {
  color: rgb(47, 47, 52);
  font-family: "Times New Roman", Times, serif;
}
a {
  color: rgb(0, 128, 128);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
button {
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: 700;
}
.display-text {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  line-height: 2rem;
}
#page-header {
  background-color: rgb(128, 0, 0);
  position: sticky;
  top: 0;
  width: 100%;
}

#hero {
  background-image: url(/Brunner-csci181-practice/assets/Hero.jpg);
  background-size: cover;
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  text-align: center;
}
section,
table {
  padding: 0.5rem;
  border: 1px solid;
  margin: 1rem auto;
  width: 100%;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

textarea {
  width: 500px;
  height: 150px;
  resize: none;
  border: 1px solid;
  padding: 0.2rem;
}
input {
  padding: 0.2rem;
  border: 1px solid;
  border-radius: 5px;
  margin: 1rem auto;
}
#submit-button {
  margin: 1rem auto;
}
th,
td {
  border: 1px solid;
  padding: 0.5rem;
}
form {
  border: 1px solid;
  padding: 0.2rem;
}
caption {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  line-height: 2rem;
}
.card-title {
  color: rgb(0, 0, 0);
}
.card-box {
  padding: 0.5rem;
  border: 1px solid;
  margin: 1rem auto;
  width: 100%;
  box-sizing: border-box;
}
